# Virtual Environment
venv/
.env

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Database
*.sqlite3

# Logs
logs/
*.log

# Static / Media files (if collected)
staticfiles/
media/

# VS Code settings
.vscode/

# PythonAnywhere
*.tar.gz
*.zip

# secret key 
secret_key/
*.json
*.env